{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Engine</title>
        <link rel="stylesheet" type="text/css" href="{% static 'tjut/css/index.css' %}" />
    </head>
    <body>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <div style="text-align:center;border;">
            <img src="{% static 'tjut/images/logo.png' %}" width="280" height="70" title="Engine">
            <form method="get" action="{% url 'tjut:search' %}">
            {% csrf_token %}
            <p>
                <input type="text" name="content" id="recid" placeholder="Search here..." required />
                <input type="submit" value="  Engine!  " id="subid"/>
            </p>
            </form>
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <br/><br/><br/>
        <div style="text-align:center;border;">
            <p class="text_main">
              More information on papers ©2017 All Rights Reserved
              <!--More information on <a href="https://github.com/zhanglanqing/TinySearchEngine"  target="_blank"> Github </a>©2016 All Rights Reserved-->
            </p>
        </div>
    </body>
</html>